$bodyBg: #0F3141;

$text: #fff;
$white: #fff;

$btnGreenBg: #1bc97a;
$btnGreenHoverBg: #1ab66f;
$btnGreenActiveBg: #17a464;

//$inputBorder: #aaa;
$inputBorder: #fff;
$inputFocusBorder: #2D98D2;

$red: #e42931;

$linkHoverColor: #2D98D2;